/* -------------------------- POLICES D'ECRITURES -------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  --primary-color: #c8a44d;
  --secondary-color: #8e533a;
  --white-color: white;
  --black-color: black;
  --font-primary: "Cinzel Decorative", serif;
  --font-secondary: "Playfair Display", serif;
  --font-third: "Poppins", sans-serif;
  font-family: var(--font-third);
}

/* -------------------------- GENERAL RULES -------------------------- */

h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  color: var(--tertiary-color);
}

h2 {
    font-family: var(--font-primary);
    font-weight: 1000;
    font-size: 50px;
    line-height: 36px;
    text-transform: lowercase;
    color: var(--primary-color);
    margin: 0;
}

h3 {
    font-family: var(--font-primary);
    font-weight: 1000;
    font-size: 50px;
    line-height: 36px;
    text-transform: lowercase;
    color: var(--secondary-color);
    margin: 0;
}

strong {
    font-weight: 600 !important;
}

.lfdj-title strong {
    font-weight: 500 !important;
    color: var(--secondary-color);
    text-transform: uppercase;
    font-size: 66%;
}

h4 {
    font-size: 12px;
    color: var(--black-color);
    line-height: 5px;
    letter-spacing: 2px;
    font-family: var(--font-third);
    font-weight: 600;
    margin-bottom: 10px;
}

h5 {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
}

span {
    font-size: 18px;
    color: var(--black-color);
    line-height: 18px;
    letter-spacing: 1px;
    font-family: var(--font-third);
    text-transform: uppercase;
}

input {
  font-family: var(--font-secondary);
}

a {
  text-decoration: none;
  background: none;
  color: var(--secondary-color);
  font-weight: 500;
}

/* -------------------------- ANTI A -------------------------- */

a:visited {
  color: inherit;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

a:active {
  color: inherit;
}

/* -------------------------- SOCIALS -------------------------- */

.ldfj-socials {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    margin: 0px auto 0;
    max-width: 550px;
}

@media (max-width: 850px) {
  .ldfj-socials {
    max-width: 550px;
    margin: 35px 10% 0 10%;
  }
}

.ldfj-socials > * {
     flex: 1 1 100px;
    max-width: 100px;
}

.ldfj-socials i {
  color:white;
}

.ldfj-socials a:hover i {
    color: var(--secondary-color)!important;
    transition: all 0.25s ease-in-out;
}

.ldfj-socials a {
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin: 0 auto;
    padding: 5px 0px;
    align-items: center;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    color: var(--tertiary-color) !important;
    border-radius: 8px;
    border: 2px dotted var(--primary-color)!important;
}

.ldfj-socials a:hover {
  color: var(--tertiary-color) !important;
  background-color:transparent!important;
  border: 2px solid var(--secondary-color) !important;
}

.ldfj-socials a.discord {
  background-color: #7289da;
}

.ldfj-socials a.mail {
  background-color: #ea4335;
}

/* Facebook */
.ldfj-socials a.facebook {
  background-color: #1877F2;
}

/* Facebook */
.ldfj-socials a.instagram {
  background-color: #DD2A7B;
}

/* -------------------------- MARGES -------------------------- */

.lfdj-midpage {
    margin-top: 10%;
    margin-bottom: -50px;
    opacity: 0;
}
/* -------------------------- BLOC -------------------------- */

.lfdj-bloc-text {
    max-width: 700px;
    margin: 0 auto;
    color: var(--blackwhite-color);
    text-align: justify;
    text-align-last: center;
}

@media (max-width: 850px) {
  .lfdj-bloc-text {
    margin: 0 10%;
  }
}


/* -------------------------- CSS -------------------------- */

.lfdj-maincontainer {
        color: var(--blackwhite-color);
}

.lfdj-title {
  margin: 0px auto;
  text-align: center;
}

.lfdj-title p {
  color: var(--black-color);
  font-family: var(--font-third);
  font-size: 12px;
}

.lfdj-title img {
  width: 50%;
  height: auto;
}

.lfdj-title p {
  width: 75%;
  height: auto;
  margin: 0px auto;
}

@media (max-width: 500px) {
  .lfdj-title p {
    width: 90%;
    height: auto;
    margin: 0px auto;
  }
}

header .lfdj-navbar {
  display: grid;
  grid-template-columns: 35px repeat(5, 1fr);
  width: 90%;
  margin: 10px auto;
  justify-content: space-between;
  gap: 10px;
}

.lfdj-bg {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    background-color: var(--secondary-color);
}

header a {
    color: var(--white-color);
    font-family: var(--font-third);
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-decoration: none;
    text-align: center;
}

header a:hover {
  color: var(--primary-color);
    font-weight: 800;
}


/* -------------------------- CALENDRIER -------------------------- */

.lfdj-calendar{
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
}


.lfdj-calendar-title{
  font-weight: 800;
  letter-spacing: .04em;
  text-transform: uppercase;
}

.lfdj-calendar-hours{
  opacity: .8;
  font-size: 0.95em;
}

.lfdj-calendar-list{
  list-style: none;
  padding: 0;
  margin: 0;
}

.lfdj-calendar-list li{
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 12px;
  padding: 6px 0;
  border-bottom: 1px solid rgba(141,141,141,.25);
}

.lfdj-calendar-list li strong{
  font-weight: 500!important;
}

.lfdj-calendar-note{
  margin-top: 10px;
  font-size: 0.9em;
  opacity: .75;
}


/* -------------------------- SEPARATEURS -------------------------- */

.lfdj-waves {
  display: block;
  margin: 0;
}

/* -------------------------- SEPARATEURS -------------------------- */

.lfdj-footer {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 12px;
        color: var(--wite-color);
    text-transform: uppercase;
    font-family: var(--font-third);
    line-height: 12px;
    background-color: #171717;
    position: relative;
    align-content: flex-end;
    z-index: 99;
    width: 100%;
    bottom: 0;
}

.lfdj-footer-container a {
    letter-spacing: 0px;
    text-transform: uppercase;
    color: var(--tertiary-color);
    width: fit-content;
    font-style: normal;
}

.lfdj-footer-container h3 {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--tertiary-color);
  font-family: var(--font-secondary);
  font-weight: 700;
  font-style: normal;
  margin: 0;
}

.lfdj-footer-container.sp-nav-menu-pc {
  display: grid;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  align-items: center;
  grid-template-columns: 1fr;
}

.lfdj-footer-container.sp-nav-menu-tel {
  display: none !important;
}

@media screen and (max-width: 1100px) {
  .lfdj-footer-container-container.sp-nav-menu-pc {
    display: none !important;
  }

  .lfdj-footer-container.sp-nav-menu-tel {
    display: grid !important;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    align-items: center;
    grid-template-columns: 1fr 1fr;
  }
}

.lfdj-footer .lfdj-footer-container {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 90%;
    margin: 0 auto;
    color: var(--white-color);
}

.lfdj-footer-right {
    text-align: right;
} 

.lfdj-footer-left {
    text-align: left;
} 

/* -------------------------- TITRES -------------------------- */

.lfdj-divtitle {
    margin-top: 75px;
    grid-column: 1/-1;
}

/* -------------------------- ICONS FOOTERS -------------------------- */

.lfdj-title-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: var(--black-color);
  margin: 8px 0 !important;
}

.lfdj-title-icon::before,
.lfdj-title-icon::after {
    content: "";
    height: 2px;
    width: 50px;
    background-color: #3333336e;
}

.lfdj-title-icon::before {
  margin-right: 15px;
}

.lfdj-title-icon::after {
  margin-left: 15px;
}

/* -------------------------- WAVES FOOTERS -------------------------- */

.lfdj-waves {
  display: block;
  margin: 0;
}

.waves {
  display: block;
  margin-top: -150px;
  width: 100%;
  height: 60px;
  z-index: 4;
}

.wave1 use {
  animation: move-forever1 10s linear infinite;
  animation-delay: -2s;
}

.wave2 use {
  animation: move-forever2 12s linear infinite;
  animation-delay: -1s;
}

.wave3 use {
  animation: move-forever3 14s linear infinite;
  animation-delay: -2s;
}

/* WebKit and Opera browsers */
@-webkit-keyframes move-forever1 {
  from {
    -webkit-transform: rotateY(0deg);
    -webkit-transform: rotateX(0deg);
  }
  to {
    -webkit-transform: rotateY(-360deg);
    -webkit-transform: rotateX(-360deg);
  }
}
/* all other browsers */
@keyframes move-forever1 {
  from {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
    transform: translate3d(-90px, 0, 0);
  }
  to {
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
    -moz-transform: rotateX(-360deg);
    -ms-transform: rotateX(-360deg);
    transform: rotateX(-360deg);
    transform: translate3d(85px, 0, 0);
  }
}

/* WebKit and Opera browsers */
@-webkit-keyframes move-forever2 {
  from {
    -webkit-transform: rotateY(0deg);
    -webkit-transform: rotateX(0deg);
  }
  to {
    -webkit-transform: rotateY(-360deg);
    -webkit-transform: rotateX(-360deg);
  }
}
/* all other browsers */
@keyframes move-forever2 {
  from {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
    transform: translate3d(-90px, 0, 0);
  }
  to {
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
    -moz-transform: rotateX(-360deg);
    -ms-transform: rotateX(-360deg);
    transform: rotateX(-360deg);
    transform: translate3d(85px, 0, 0);
  }
}

/* WebKit and Opera browsers */
@-webkit-keyframes move-forever3 {
  from {
    -webkit-transform: rotateY(0deg);
    -webkit-transform: rotateX(0deg);
  }
  to {
    -webkit-transform: rotateY(-360deg);
    -webkit-transform: rotateX(-360deg);
  }
}
/* all other browsers */
@keyframes move-forever3 {
  from {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
    transform: translate3d(-90px, 0, 0);
  }
  to {
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
    -moz-transform: rotateX(-360deg);
    -ms-transform: rotateX(-360deg);
    transform: rotateX(-360deg);
    transform: translate3d(85px, 0, 0);
  }
}

/* -------------------------- MAPS -------------------------- */

.lfdj-map{
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 8px;
}

.lfdj-map iframe{
  width: 100%;
  height: 100%;
  border: 0;
  display: block;
}

/* -------------------------- IMAGE -------------------------- */

.lfdj-hero {
    width: 100%;
    margin-top: 20px;
    margin-bottom: -50px;
}

img {
  max-width:100px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.lfdj-hero-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 700px;
    margin: 25px auto 0 auto;
}

.lfdj-hero-list img {
  aspect-ratio: 1/1;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 6px;
  display: block;
}
