/* -------------------------- POLICES D'ECRITURES -------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  --primary-color: #c8a44d;
  --secondary-color: #8e533a;
  --white-color: white;
  --black-color: black;
  --font-primary: "Cinzel Decorative", serif;
  --font-secondary: "Playfair Display", serif;
  --font-third: "Poppins", sans-serif;
}

/* -------------------------- GENERAL RULES -------------------------- */

h1 {
    font-size: 50px;
    color: var(--primary-color);
    font-family: var(--font-primary);
}

h2 {
    font-size: 12px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 12px;
}

input {
  font-family: var(--font-secondary);
}

a {
  text-decoration: none;
  color: inherit;
  background: none;
}

/* -------------------------- ANTI A -------------------------- */

a:visited {
  color: inherit;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

a:active {
  color: inherit;
}

/* -------------------------- CSS -------------------------- */

.lfdj-maincontainer {
  background-color:black;
}

.lfdj-title {
    margin: 0px auto;
    text-align: center;
}

.lfdj-title p {
    color: var(--white-color);
    font-family: var(--font-third);
    font-size: 12px;
}

.lfdj-title img {
  width: 50%;
  height: auto;
}

.lfdj-title p {
  width: 75%;
  height: auto;
  margin: 0px auto;
}

@media (max-width: 500px) {
  .lfdj-title p {
  width: 90%;
  height: auto;
  margin: 0px auto;
  }
}

header .lfdj-navbar {
    display: grid;
    grid-template-columns: 35px repeat(5, 1fr);
    width: 90%;
    margin: 10px auto;
    justify-content: space-between;
    gap: 10px;
}

.lfdj-bg {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.lfdj-bg::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("/lfdj/images/BGxGrand.png") center / cover no-repeat;
    transform: rotate(180deg) scale(1);
    transform-origin: center;
    z-index: -1;
}

header a {
    color: var(--white-color);
    font-family: var(--font-primary);
    text-transform: uppercase;
    font-weight: 800;
    text-decoration: none;
    text-align: center;
}

header a:hover {
  color: var(--primary-color);
}

